*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}  

body{
    background-color: #EDF2F8;
}
.container{
    width:50%;
    height:auto;
    display: flex;
    background-color: white;
    margin: 15% 30%;
    position: relative;
}

.left-container img{
   width:100%;
   height:100%;
   min-width: 100%;
   min-height: 100%;
}

.right-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px;
    background: white;
    width: 80%;
    min-width: 40%;
}

/* .right-container h2{
    line-height: 1.5;
} */
.right-container p{
    margin-top: 20px;
    color: hsl(212, 23%, 69%)
}
.profile{
    display: flex;
    flex-direction: row;
    /* position: relative; */
    margin-top: 30px;
}

.profile img{
    width:50px;
    height:50px;
    border-radius: 50%;
}

.profile-details{
    display: flex;
    flex-direction: column;
    
}

.profile-details h4{
    margin-left: 20px;
}

.profile-details p{
    margin-top: 10px;
    margin-left: 20px;
    color:hsl(212, 23%, 69%)
}

.arrow{
    position: absolute;
    cursor: pointer;
    right: 4%;
    margin-top: 10px;
    z-index: 10;
}
.arrow img{
    width:30px;
    height:30px;
    border-radius: 50%;
    cursor: pointer;
    background-color: hsl(210, 46%, 95%);
    /* position: relative; */
}

.share {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: hsl(217, 19%, 35%);
    
    bottom: 35%;
    /* top: 60%; */
    right:-8%;
    opacity: 0;
    
    width: auto;
   height: 50px;
    border-radius: 0.7rem;
    transition: all 0.3s ease-in-out;
  }

  .share p{
    text-transform: uppercase;
    color: hsl(212, 23%, 69%);
    letter-spacing: 0.3rem;
  padding: 1rem; 
    margin:0;
   
   
    
  }
  .show {
    visibility: visible;
    opacity: 1;
  }
  ul {
    list-style: none;
    display: flex;
    align-items: center;
  }

  li {
    padding-right: 1rem;
  }

  a img:hover {
    transform: scale(1.2);
  }

  .icons{
      width:80% !important;
      height:80% !important;
  }
@media only screen and (max-width:750px){
.container{
    display: flex;
    flex-direction: column;
    width:100%;
    margin: 0;
}
}

